html, body{
  background-color: #131314;
}

header {
  background-color: #e3e3e3;
}

h1 img {
  height: 2em;
  transform: rotate(-46deg);
}

section{
  padding-top: 2em;
}
#home{
  background-color: #e3e3e3;
}

#carouselExampleControls{
  width: min(80vw, 1200px);
  margin: 2em auto;
}

footer{
  display: flex;
  padding: 1.2em 0;
  justify-content: center;
  color: #e3e3e3;
  background-color: #212122;
}