html, body{
  background-color: #e3e3e3;
}

header {
  background-color: #e3e3e3;
}

h1 img {
  height: 2em;
  transform: rotate(-46deg);
}

#home, #project, #gallery, #aboutus, #contacts{
  padding: 2em 1em 4em;
}

#gallery, #contacts{
  background-color: #131314;
}

#carouselExampleControls{
  width: min(80vw, 1200px);
  margin: 2em auto;
}

footer{
  display: flex;
  padding: 1.2em 0;
  justify-content: center;
  color: #e3e3e3;
  background-color: #212122;
}
